.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}

div.tab-content{

padding-top:10px; 
}

.glyphicon {
 
    font-size: 30px;

}
.glyphicon-thumbs-up {
 
   color:blue;

}
.glyphicon-thumbs-down {
 
   color:red;

}